a {
  text-decoration: none;
  color: #f3ccbe;
  letter-spacing: 1.5px;
  font-family: 'Baskerville', serif;
  font-style: oblique;
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 2vh;
    background-color: #680707;
  }

  ul{
    padding-right: 1vh;
  }


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 34px;
  user-select: none;
}

.logo a{
  padding-left: 25px;
  font-size: 4vh;
  font-family: MyHelvetica;
}

#clear_div{clear:both;}

header {
  min-height: 5vh;
  max-height: 10vh;
  display: grid;
  place-items: center;
}
@media (max-width: 1200px) {
  .logo a{
    padding-left: 5px;
    font-size: 2em;
  }
}

@media (max-width: 920px) {
  #bg{
      background-position: calc(10% - 210px) 0px;
  }
  .menu {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
      z-index: 999;

  }

  .menu li+li {
      margin-top: 12px;
    }

    .menu li {
      margin-top: 16px;
      border-top: 1px solid black;
    }

  input[type=checkbox]:checked~.menu {
      display: block;
  }

  .hamburger {
      display: block;
  }

  .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
  }

  .dropdown li:hover {
      background-color: #4c9e9e;
  }

  .buttons{
    display: grid;
    width: 70%;
    margin: 3rem auto;
    text-align: center;
  }
  
  .btn:not(:last-child){
    margin-right: 3rem;
  }

  .btn{
    margin-bottom: 5px;
  }

  .item{
    grid-template-columns: repeat(1, 1fr);
  }

  
}
